<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">863项目 - 海量web数据提取、集成、分析和管理系统平台</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/paper/">论文</a></li>
                    <li><a href="/scholar/">学者</a></li>
                    <li><a href="/patent/">专利</a></li>
                    <li><a href="/weibo/">微博</a></li>
                    <li><a href="/blog/">博客</a></li>
                    <li><a href="/about/">关于</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
