{% extends "base.html" %}
{% block content %}
<div class="span7">
    <div class="container-fliud">
        <!--标签页-->
        <div class="tabbable tabs-below">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#1" data-toggle="tab">
                        学者个人信息
                    </a>
                </li>
                <!--<li><a href="#2" data-toggle="tab">研究领域简介</a></li>-->
                <li>
                    <a href="#3" data-toggle="tab">
                        学者论文列表
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="1">
                    <div class="row">
                       
                        <div class="span5">
                            <div class="fliud">
                                <div >
                                    <h2>
                                        陆嘉恒
                                    </h2>
                                    <h5>
                                        男
                                    </h5>
                                    <h5>
                                        中国人民大学
                                    </h5>
                                    <h5>
                                        简介：1975年生， 博士，中国人民大学教授，博士生导师
                                    </h5>
                                    <p>
                                        陆嘉恒，新加坡国立大学博士， 美国加利福尼亚大学尔湾分校（University of California, Irvine）博士后。 主要研究领域包括数据库，数据挖掘，云计算，信息检索等，已在国外一流期刊和会议上发表四十多篇论文，曾受邀在芬兰赫尔辛基大学（University of Helsinki）举办XML查询优化处理的专题学术报告。在美国期间，作为项目负责人和主要成员，完成美国国家自然科学基金研究项目两项，已申请美国专利一个（No. 61/043,325）。近几年应邀在国际重要学术会议中担任PC member，多次应邀评审国际数据库领域一流期刊论文包括：ACM TODS，IEEE TKDE，VLDB Journal 等等。
                                    </p>
                                </div>
                             </div> 
                        </div>
						     <div class="span2">
                                    <img src="\static\img\lu.jpg" class="img-rounded">
                             </div>
                    </div>
                </div>
                <div class="tab-pane" id="2">
                    <p class="text-info">
                        database including
                    </p>
                    <p class="text-info">
                        information systems
                    </p>
                    <p class="text-info">
                        XML query processing
                    </p>
                    <p class="text-info">
                        data mining
                    </p>
                    <p class="text-info">
                        XML keyword suggestion
                    </p>
                    <p>
                        approximate string matching
                    </p>
                    <p>
                        cloud data management
                    </p>
                </div>
                <div class="tab-pane" id="3">
                    <div class="pagination pagination-small">
                        <ul>
                            <p class="text-info">
                                近两年论文:
                            </p>
                            <p>
                                "Optimal Top-k Generation of Attribute Combinations based on Ranked Lists"
                                SIGMOD 2012
                            </p>
                            <p>
                                " Reverse Spatial and Textual k Nearest Neighbors Search " SIGMOD 2011
                            </p>
                            <p>
                                "Extended XML Tree Pattern Matching: Theories and Algorithms" IEEE Transactions
                                on Knowledge and Data Engineering (TKDE)
                            </p>
                            <p>
                                "Towards an effective XML keyword search" IEEE Transactions on Knowledge
                                and Data Engineering (TKDE)
                            </p>
                            <p>
                                "Indexing and querying XML using extended Dewey labeling scheme" Data
                                and Knowledge Engineering (DKE)
                            </p>
                            <p>
                                .....
                            </p>
                            <li>
                                <a href="#">
                                    前一页
                                </a>
                            </li>
                            <li class="active" id="1">
                                <a href="#">
                                    1
                                </a>
                            </li>
                            <li class="pagination">
                                <a href="#">
                                    2
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    3
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    4
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    后一页
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock %}
{% block pagination %}
{% endblock %}
