{% extends "base.html" %}
{% block content %}
<div class="span7">
    <div class="container-fliud">
        <!--标签页-->
        <div class="tabbable tabs-below">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#1" data-toggle="tab">
                        学者个人信息
                    </a>
                </li>
                <!--<li><a href="#2" data-toggle="tab">研究领域简介</a></li>-->
                <li>
                    <a href="#3" data-toggle="tab">
                        学者论文列表
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="1">
                    <div class="row">
                       
                        <div class="span5">
                            <div class="fliud">
                                <div >
                                    <h2>
                                        周晓方
                                    </h2>
                                    <h5>
                                        男
                                    </h5>
                                    <h5>
                                        昆士兰大学，中国人民大学
                                    </h5>
                                    <h5>
                                        简介：周晓方，昆士兰大学计算机科学教授，中国人民大学“千人计划”特聘教授，昆大数据与知识工程研究室主任
                                    </h5>
                                    <p>
                                        周晓方，昆士兰大学计算机科学教授，中国人民大学“千人计划”特聘教授，昆大数据与知识工程研究室主任，并担任澳洲研究院(ARC)下属的全国性企业信息基础研究网络主任，澳洲信息通讯技术国家实验室(NICTA)负责多媒体数据库研发的高级研究员，澳洲生物信息学国家重点实验室负责数据库研究的首席研究员，以及VLDB Journal, IEEE Transactions on Knowledge and Data Engineering和World Wide Web Journal等国际一流学术期刊的编委。周教授毕业于南京大学计算机系， 1994年于昆士兰大学获得计算机科学博士学位。在1994至1999年期间，周教授任职于澳洲科学院(CSIRO),担任空间信息系统研究室的主任。周晓方教授长期从事数据库及信息系统研究，在大规模复杂数据管理集成与分析的基础研究及海量数据前端应用方面积累了大量经验和成果。周晓方教授在这些领域发表了逾170余篇论文,包括30余篇发表在国际三大数据库会议SIGMOD, VLDB和ICDE，及数据库相关领域最高水平的国际期刊VLDB Journal, ACM Transactions on Database Systems, ACM Transactions on Information Systems, IEEE Transactions on Knowledge and Data Engineering的论文，其研究得到澳洲研究院，澳洲政府及工业界的长期资助，参与并领导过多个大型科研项目
                                </div>
                             </div> 
                        </div>
						     <div class="span2">
                                    <img src="\static\img\zhou.jpg" class="img-rounded">
                             </div>
                    </div>
                </div>
                <div class="tab-pane" id="2">
                    <p class="text-info">
                        database including
                    </p>
                    <p class="text-info">
                        information systems
                    </p>
                    <p class="text-info">
                        XML query processing
                    </p>
                    <p class="text-info">
                        data mining
                    </p>
                    <p class="text-info">
                        XML keyword suggestion
                    </p>
                    <p>
                        approximate string matching
                    </p>
                    <p>
                        cloud data management
                    </p>
                </div>
                <div class="tab-pane" id="3">
                    <div class="pagination pagination-small">
                        <ul>
                            <p class="text-info">
                                近两年论文:
                            </p>
                            <p>
                                AML: Efficient Approximate Membership Localization within a Web-Based Join Framework", Z. Li, L. Sitbon, L. Wang, X. Zhou and X. Du, IEEE Transactions on Knowledge and Data Engineering, 25(2):298-310, 2013,
                            </p>
                            <p>
                               "Computing Unrestricted Synopses under Maximum Error Bound", C. Pang, Q. Zhang, X. Zhou, D. Hansen, S. Wang and A. Maeder, Algorithmica, 65(1):1-42, 2013,

                            </p>
                            <p>
                                "WebPut: Efficient Web-based Data Imputation", Z. Li, M. Sharaf, L. Sitbon, S. Sadiq, M. Indulska and X. Zhou, 13th International Conference on Web Information System Engineering (WISE 2012), pages 243-256, November 28th-30th, 2012, Paphos, Cyprus. (Best Paper Award),

                            </p>
                            <p>
                               "Discriminative Nonnegative Spectral Clustering with Out-of-Sample Extension", Yang Yang, Yi Yang, Yanchun Zhang, Xiaoyong Du, Heng Tao Shen and Xiaofang Zhou, in IEEE Transactions on Data and Knowledge Engineering (accepted in June 2012),

                            </p>
                            <p>
                              "Finding Alternative Shortest Paths in Spatial Networks", Kexin Xie, Ke Deng, Shuo Shang, Kevin Zheng and Xiaofang Zhou, in ACM Transactions on Database Systems, 37(4):29, December 2012,
                            </p>
                            <p>
                                .....
                            </p>
                            <li>
                                <a href="#">
                                    前一页
                                </a>
                            </li>
                            <li class="active" id="1">
                                <a href="#">
                                    1
                                </a>
                            </li>
                            <li class="pagination">
                                <a href="#">
                                    2
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    3
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    4
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    后一页
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock %}
{% block pagination %}
{% endblock %}
