.as-center {
    width: auto;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.as-text-center {
    text-align: center;
}


/* cover */
.as-cover-paper {
    background-color: rgb(211, 85, 156);
}

.as-cover-paper_en {
    background-color: rgb(110, 85, 211);
}

.as-cover h1{
    padding: 50px;
    font-size: 60px;
    text-shadow: #000000 2px 2px 4px;
    color: #ffffff;
}
.as-cover h3{
    text-shadow: #000000 1px 1px 3px;
    color: #ffffff;
}
.as-cover p{
    text-shadow: #000000 1px 1px 3px;
    color: #ffffff;
}
.as-cover{
    padding: 50px 50px;
    margin-bottom: 30px;
    margin-top: -50px;
    margin-right: -20px;
    margin-left: -20px;
    text-align: center;
    background-repeat:repeat;
    background-image: url('/static/img/icloud.png');
}

/* userhead */
.as-user-head{
    width: 64px;
    height: 64px;
}

/* searchbar */
.as-searchbar{
    padding-top: 20px
}

/* footer */
#footer {
    text-align: center;
    background-color: #f5f5f5;
}

.container .credit {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
  }
