<div class="row">
    <div class="span6"><h2>收录网页：</h2>
        <div id="con">
            <div class="bottomcover" style="z-index:20;"></div>
            <ul>
                {% for page in pages %}
                <li>
                    <h7><a href="{{ page.source}}">{{ page.source }}</a></h7>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="span6">
        <h2>收录微博:</h2>
        <div id="con1">
            <div class="bottomcover" style="z-index: 2;"></div>
            <ul>
                {% for weibo in weibos %}
                <li>
                    <h7>{{ weibo.content }}<br/></h7>
                    <h7><a href="{{ weibo.url }}">{{ weibo.url }}</a></h7> 
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="span6"><h2>收录博客：</h2>
        <div id="con2" >
            <div class="bottomcover" style="z-index: 20;"></div>
            <ul>
                <li>
                    <a href="http://www.cnblogs.com/lhb25/archive/2012/12/24/best-jquery-plugins-of-2012.html" target="_blank">期待已久的2012年度最佳 jQuery 插件揭晓：</br></a><a href="http://www.cnblogs.com/lhb25/">梦想天空（山边小溪）</a> </br>www.cnblogs.com/lhb25/archive/2012/12/24/best-jquery-plugins-of-2012.html</br>
                </li>
                <li>
                    <a href="http://www.cnblogs.com/dowinning/archive/2012/04/19/json-jsonp-jquery.html " target="_blank">【原创】说说JSON和JSONP，也许你会豁然开朗，含jQuery用例</br></a><a href="http://www.cnblogs.com/dowinning/">随它去吧</a></br>www.cnblogs.com/dowinning/archive/2012/04/19/json-jsonp-jquery.html</br>
                </li>
                <li>
                    <a href="http://www.cnblogs.com/58top/archive/2013/01/15/tutorial-coding-a-jquery-popup-modal-contact-form.html" target="_blank">使用jQuery打造一个实用的数据传输模态弹出窗体</br></a></br><a href="http://www.cnblogs.com/58top/">创想中国(羲闻) </a></br>www.cnblogs.com/58top/archive/2013/01/15/tutorial-coding-a-jquery-popup-modal-contact-form.html</br>
                </li>
                <li>
                    <a href="http://www.cnblogs.com/yeer/archive/2009/07/23/1529460.html " target="_blank">jQuery Ajax 实例 全解析</br></a></br><a href="http://www.cnblogs.com/yeer/">吊儿郎当</a></br>www.cnblogs.com/yeer/archive/2009/07/23/1529460.html</br>
                </li>
                <li>
                    <a href="http://www.cnblogs.com/xiaochaohuashengmi/archive/2011/05/11/2042854.html" target="_blank">mongo db 使用方法</br></a></br><a href="http://www.cnblogs.com/xiaochaohuashengmi/">小炒花生米</a></br>www.cnblogs.com/xiaochaohuashengmi/archive/2011/05/11/2042854.html</br>
                </li>
                <li>
                    <a href="http://www.cnblogs.com/xffy1028/archive/2011/12/03/2272837.html" target="_blank">Mongo db 与mysql 语法比较</a></br><a href="http://www.cnblogs.com/xffy1028/">晓风拂月</a></br>www.cnblogs.com/xffy1028/archive/2011/12/03/2272837.html			
                </li>
                <li>
                    卢钢 ：<a href="http://www.cnblogs.com/LeftNotEasy/archive/2011/08/27/why-map-reduce-must-be-future-of-distributed-computing.html" target="_blank">为什么Hadoop将一定会是分布式计算的未来？</a></br><a href="http://www.cnblogs.com/LeftNotEasy/">LeftNotEasy</a></br>www.cnblogs.com/LeftNotEasy/archive/2011/08/27/why-map-reduce-must-be-future-of-distributed-computing.html			
                </li>
                <li>
                    <a href="http://www.cnblogs.com/cmt/archive/2013/02/26/upyun-aliyun-url-case-sensitive.html" target="_blank">云计算之路：云存储的纠结</a></br><a href="http://www.cnblogs.com/cmt/">博客园团队</a></br>www.cnblogs.com/cmt/archive/2013/02/26/upyun-aliyun-url-case-sensitive.html			
                </li>
                <li>
                    <a href="http://www.cnblogs.com/ansiboy/archive/2013/03/05/2944856.html" target="_blank">高仿Entity Framework？Linq to SQL也有春天！</a><a href="http://www.cnblogs.com/ansiboy/">麦舒</a> </br>http://www.cnblogs.com/ansiboy/archive/2013/03/05/2944856.html" target="_blank			
                </li>
                <li>
                    <a href="http://www.cnblogs.com/hegezhou_hot/archive/2011/01/05/1925986.html" target="_blank">云计算-从基础到应用架构系列-云计算的概念</a></br><a href="http://www.cnblogs.com/hegezhou_hot/">何戈洲</a></br>www.cnblogs.com/hegezhou_hot/archive/2011/01/05/1925986.html		
                </li>
            </ul>
        </div>
    </div>
    <div class="span6"><h2>收录论文：</h2>
        <div id="con4">
            <div class="bottomcover" style="z-index:20;"></div>
            <ul>
                {% for paper in papers %}
                <li>
                    <h7>{{ paper.title }}<br></h7>
                    <h7>{{ paper.authors.author[0] }}</h7>
                    <h7>{{ paper.authors.author[1] }}</h7>
                    <h7>{{ paper.authors.author[2] }}</h7>
                    <h7>{{ paper.authors.author[3] }}</h7>
                    <h7>{{ paper.authors.author[4] }}</h7>
                    <h7>{{ paper.authors.author[5] }}</h7>
                    <h7>{{ paper.authors.author[6] }}</h7>
                    <h7>{{ paper.authors.author[7] }}</h7>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
