<div>
    <ul class="nav nav-tabs nav-justified">
        <li {% if meta.theme == 'paper' %}class="active"{% endif %}>
            <a href="search?theme=paper&keyword={{ meta.keyword }}&offset=0"><strong>{{ result.stat.all }}</strong> Answers</a>
        </li>
        <li {% if meta.theme == 'paper_title' %}class="active"{% endif %}>
            <a href="search?theme=paper_title&keyword={{ meta.keyword }}&offset=0"><strong>{{ result.stat.title }}</strong> in Title</a>
        </li>
        <li {% if meta.theme == 'paper_body' %}class="active"{% endif %}>
            <a href="search?theme=paper_body&keyword={{ meta.keyword }}&offset=0"><strong>{{ result.stat.body }}</strong> in Body</a>
        </li>
    </ul>
</div>
