<ul class="nav nav-pills nav-stacked">
    <li class="nav-header">Search Type</li>
    <li {% if meta.theme == 'scholar' %} class="active" {% endif %} >
        <a href="/scholar"><i class="icon-user"></i> Scholar</a>
    </li>
    <li {% if meta.theme == 'paper' %} class="active" {% endif %}  >
        <a href="/paper"><i class="icon-file-alt"></i> Paper</a>
    </li>
    <hr>
    <li class="nav-header">Infos</li>
    <li>
        <a href="/about"><i class="icon-question-sign"></i> About</a>
    </li>
</ul>

