{% macro render_pagination(pagination, endpoint, theme, keyword, offset, page) %}
<div>
    <ul class=pagination>
        {%- for page in pagination.iter_pages() %}
        {% if page %}
        {% if page != pagination.page %}
        <li>
            <a href="{{ url_for(endpoint, theme = theme, keyword = keyword, offset = offset, page = page) }}">{{ page }}</a>
        </li>
        {% else %}
        <li class="active">
            <a href="#">{{ page }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="disabled">
            <a>...</a>
        </li>
        {% endif %}
        {%- endfor %}
    </ul>
</div>
{% endmacro %}
