<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Hit <strong>{{ result.total }}</strong> answers.
</div>
<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Hit <strong>{{ result.stat.title }}</strong> in TITLE.
</div>
<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Hit <strong>{{ result.stat.body }}</strong> in BODY.
</div>
