{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div id="containerchart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</div>
{% include "_about_bottom.html" %}
{% endblock %}
{% block js %}
<link type="text/css" rel="stylesheet" href="/static/css/about.css" />
<script type="text/javascript" src="/static/js/highcharts.js"></script>
<script type="text/javascript" src="/static/js/jquery.pause.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.totemticker.js"></script>
<script type="text/javascript" src="/static/js/academi_scroll.js"></script>
<script type="text/javascript" src="/static/js/academi_about.js"></script>
{% endblock %}
