{% extends 'base.html' %}
{% block content %}
<div class="page-header">
    <div class="container">
        <h1>Academy <small>about</small></h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Statistic</h3>
                </div>
                <div class="panel-body">
                    <p>Paper Meta: 2310360</p>
                    <p>Scholar Meta: 1514135</p>
                    <p>Affiliation Meta: 54751</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Visitor Map</h3>
                </div>
                <div class="panel-body">
                    <script type="text/javascript" src="http://jc.revolvermaps.com/2/1.js?i=2st8ot4xfmu&amp;s=340&amp;m=2&amp;v=false&amp;r=false&amp;b=ffffff&amp;n=true&amp;c=ff0000" async="async"></script>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
