<header class="as-padding">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <h2>Academi</h2>
        </div>
        <div class="span10 as-searchbar">
            <form class="form-search" action="/{{ query.theme }}/search" method="POST" >
                <div class="input-append">
                    <input name="keyword" class="input-xxlarge search-query" type="text" placeholder="{{ query.keyword }}">
                    <input name="pos" type="hidden" value="0">
                    <button class="btn btn-primary" type="submit"><i class="icon-search icon-white"></i> Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
</header>

