{% extends "index.html" %}

{% block headline %}
SCHOLAR | Search
{% endblock %}

{% block search_button_label %}
<i class="icon-search icon-white"></i> Scholar
{% endblock %}

{% block promption %}
<h4 style="font-size:14px;font-family:宋体" class="text-center">Please try a scholar name, like <a href= "http://pandasearch.ruc.edu.cn/scholar/Jiawei_Han.html">Jiawei Han</a>, <a href= "http://pandasearch.ruc.edu.cn/scholar/Thomas_S._Huang.html">Thomas S. Huang</a>.</h4>
{% endblock %}

{% block info %}
{% endblock %}
