{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Panda<img src="/static/img/panda1.png">Search</h1>
        <h3 class="text-center">Academic Search on Computer Science</h3>
        <p class="text-center">
            {% block headline %}
            Theme
            {% endblock %}
        </p>
        {% include "_search_bar.html" %}
        <small><h4 class="text-center">Most Popular Topics and Papers: <a href= "/static/html/popular_topics.html">Big Data</a>,<a href= "/static/html/popular_topics.html">5G Cellular Networks</a></h4></small>
    </div><!-- /.container -->
</div><!-- /.jumbotron -->
{% endblock %}
