{% extends "result.html" %}
{% block info %}{% endblock %}
{% block pagination  %}{% endblock %}
{% block result_set %}
    <div class="row">
        <div class="offset1">
            <h4><i class="icon-user"></i> {{ scholar.Name }}
                {%if scholar.NativeName %}
                ({{scholar.NativeName}})
                {%endif%}</h4>
        </div>
    </div>
    <div class="row">
        <div class="span2 offset1">
            <a href="#">
                {% if scholar.Photo=="AAA"%}
                <img class="img-rounded" src="../static/img/Default_Scholar_Photo.gif">
                {%else%}
                <img class="img-rounded" src="data:image/gif;base64,{{scholar.Photo}}">
                {%endif%}
            </a>
        </div>
        <div class="span6">
            {%if scholar.Affiliation %}
            <p class="text-info">
            <i class="icon-building"></i>
            {{scholar.Affiliation}}
            </p>
            {%endif%}
            {%if scholar.Email%}
            <p class="text-info">
            <i class="icon-envelope-alt"></i>
            {{scholar.Email}}
            </p>
            {%endif%}
            {%if scholar.Homepage%}
            <p class="text-info">
            <i class="icon-globe"></i>
            <a href={{scholar.Homepage}}>
                {{scholar.Homepage}}
            </a>
            </p>
            {%endif%}
        </div>
    </div>
{%if papers%}
    <table class="table table-striped">
        {% for paper in papers %}
        <tr>
            <td>
                <div><strong>{{ paper.title }}</strong></div>
                <div>
                    <span class="label">{{ paper.year }}</span>
                    <span class="label">{{ paper.booktitle }}</span>
                    <span class="label">{{ paper.journal }}</span>
                </div>
                <div>
                    {% for Author in paper.authors %}
                    <a href="/search?theme=scholar&keyword={{ Author }}&offset=0"><span class="label label-info">{{ Author }}</span></a>
                    {% endfor %}
                </div>
            </tr>
            {% endfor %}
    </table>
{%else%}
    <div class="row">
        <div class="offset1 span7 ">
            <h3 class="offset2"><strong>No Published Papers Found.</strong></h3>
        </div>
    </div>
{%endif%}
{% endblock %}
